{% extends 'base.html.twig' %}

{% block title %}New Addressbook{% endblock %}

{% block body %}
    <h1>Create new Addressbook</h1>

    {{ include('addressbook/_form.html.twig') }}

    <a href="{{ path('app_addressbook_index') }}">back to list</a>
{% endblock %}
