<form method="post" action="{{ path('app_month_lookup_delete', {'bmonthNum': month_lookup.bmonthNum}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ month_lookup.bmonthNum) }}">
    <button class="btn">Delete</button>
</form>
