{% extends 'base.html.twig' %}

{% block title %}New AddressInGroups{% endblock %}

{% block body %}
    <h1>Create new AddressInGroups</h1>

    {{ include('address_in_groups/_form.html.twig') }}

    <a href="{{ path('app_address_in_groups_index') }}">back to list</a>
{% endblock %}
